{% if page.lang == "es" %}
{% set services = services.es.services %}
{% set serviceTitle = settings.es.serviceTitle %}
{% set serviceDescription = settings.es.serviceDescription %}
{% elif page.lang == "it" %}
{% set services = services.it.services %}
{% set serviceTitle = settings.it.serviceTitle %}
{% set serviceDescription = settings.it.serviceDescription %}
{% else %}
{% set services = services.en.services %}
{% set serviceTitle = settings.en.serviceTitle %}
{% set serviceDescription = settings.en.serviceDescription %}
{% endif %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<section id="pruebas" class="">

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">

        <div class="mx-auto  text-center">

            <h2 class="text-4xl  leading-none tracking-tighter md:text-7xl lg:text-5xl">
                {{serviceTitle}}</h2>

            <p class="mt-4">
                {{serviceDescription}}
            </p>
        </div>



        <!--<div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
            {% if services %}

            {% for service in services %}
            <div class="rounded-xl bg-gradient-to-r p-[1px] from-emerald-500 to-blue-500 flex items-stretch"> <a
                    class="block rounded-xl bg-white border p-8 shadow-xl transition hover:border-pink-500/10 hover:shadow-pink-500/10 flex-1"
                    href="">

                    <i class="fa-2x {{service.icon}}"></i>
                    <h2 class="mt-4 text-xl font-bold">{{service.service}}</h2>

                    <p class="mt-1 text-sm">
                        {{service.description}}
                    </p>
                </a>
            </div>
            {% endfor %}

            {% endif %}
        </div>-->


    </div>



    <!--TEST BEGINS -->
    <!-- <div class="bg-fixed " style="background-image:url(/static/img/desafio_san_fernando_10k.jpg
        ); " x-data="
            {show: false}" x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 m-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        CARRERA 10K </div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="w-full p-5 text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        Descubre un emocionante nuevo recorrido que comienza en la avenida principal del Desafío San
                        Fernando en la Base General Menacho y te lleva a través de la auténtica dehesa extremeña hasta
                        la impresionante zona de combate en población. En los últimos años, esta zona se ha transformado
                        en un complejo turístico digno de visitar, y te invitamos a experimentar su belleza en primera
                        persona. Desde allí, te dirigirás hacia la zona de Comandantes antes de regresar a la base. El
                        circuito completo, que transcurre por caminos de tierra bien mantenidos, es perfecto para
                        disfrutar de una carrera de 10k emocionante e inolvidable. No importa si eres un corredor
                        experimentado o si estás buscando un desafío divertido para disfrutar con tus amigos y
                        familiares, ¡la carrera de 10k en el Desafío San Fernando es para ti!
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--10 BEGINS -->
    <div class="min-h-[500px]  bg-fixed  " style="background-image:url(/static/img/desafio_san_fernando_10k.jpg
        ); 
" x-data="
            {show: false}" x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 m-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        CARRERA 10K </div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="w-full p-5  text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        Descubre un emocionante nuevo recorrido que comienza en la avenida principal del Desafío San
                        Fernando en la Base General Menacho y te lleva a través de la auténtica dehesa extremeña hasta
                        la impresionante zona de combate en población. En los últimos años, esta zona se ha transformado
                        en un complejo turístico digno de visitar, y te invitamos a experimentar su belleza en primera
                        persona. Desde allí, te dirigirás hacia la zona de Comandantes antes de regresar a la base. El
                        circuito completo, que transcurre por caminos de tierra bien mantenidos, es perfecto para
                        disfrutar de una carrera de 10k emocionante e inolvidable. No importa si eres un corredor
                        experimentado o si estás buscando un desafío divertido para disfrutar con tus amigos y
                        familiares, ¡la carrera de 10k en el Desafío San Fernando es para ti!
                        <br>
                        <br>
                        <div class="w-full justify-center text-center">
                            <a href="https://es.wikiloc.com/rutas-carrera/10k-desafio-san-fernando-2025-220712001" target="_blank"
                                class="text-white font-bold justify-center">
                                Echa un vistazo al recorrido en Wikiloc
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--21 BEGINS -->

    <div class="min-h-[500px] bg-fixed " style="background-image:url(/static/img/desafio_san_fernando_21k.jpg)"
        x-data="{show: false}" x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 m-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        CARRERA 21K </div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="w-full p-5 text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        Disfruta de un emocionante recorrido de 21k que partirá de la avenida principal en dirección al
                        campo de maniobras, rodeado de la impresionante dehesa extremeña y pasando por la zona de
                        combate en población, que ha evolucionado en los últimos años hasta convertirse en un complejo
                        turístico de visita obligada. Desde allí, nos dirigiremos a la zona de Comandates y de regreso a
                        la base para completar la primera etapa.
                        Tras cruzar la meta, te espera un nuevo tramo algo más exigente pero igual de hermoso, que te
                        llevará nuevamente al campo de maniobras para disfrutar de la belleza natural de la zona. Todo
                        el recorrido transcurre por caminos de tierra de gran calidad, garantizando una experiencia
                        inolvidable para corredores de todos los niveles. ¡No te pierdas esta oportunidad de participar
                        en el Desafío San Fernando, un evento para toda la familia!
                        <br>
                        <br>
                        <div class="w-full justify-center text-center">
                            <a href="https://es.wikiloc.com/rutas-carrera/21-km-2-vuelta-desafio-san-fernando-25-222287529" target="_blank"
                                class="text-white font-bold justify-center">
                                Echa un vistazo al recorrido en Wikiloc
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--40 BEGINS -->
    <!-- 
    <div class="min-h-[500px] bg-fixed  " style="background-image:url(/static/img/desafio_san_fernando_10k.jpg)"
        x-data="{show: false}" x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 m-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        40 BTT</div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="w-full p-5 text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        La emocionante prueba de bicicleta de montaña de 40 km BTT es perfecta para los amantes de la
                        aventura y la naturaleza. El recorrido competitivo de una sola vuelta se desarrolla en su
                        totalidad en el campo de maniobras, ofreciendo una experiencia única y emocionante. Con un
                        terreno rápido y sinuoso, los ciclistas disfrutarán de un desafío emocionante y lleno de
                        adrenalina en medio del hermoso paisaje extremeño.
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="bg-fixed 
    " style="background-image:url(/static/img/desafio_san_fernando_40btt.jpg)" x-data="{show: false}"
        x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        40 BTT
                    </div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="w-full p-5 text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        La emocionante prueba de bicicleta de montaña de 40 km BTT es perfecta para los amantes de la
                        aventura y la naturaleza. El recorrido competitivo de una sola vuelta se desarrolla en su
                        totalidad en el campo de maniobras, ofreciendo una experiencia única y emocionante. Con un
                        terreno rápido y sinuoso, los ciclistas disfrutarán de un desafío emocionante y lleno de
                        adrenalina en medio del hermoso paisaje extremeño.
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--CICLO BEGINS -->
    <!-- 
    <div class="min-h-[500px] bg-fixed " style="background-image:url(/static/img/desafio_san_fernando_ciclo.jpg)"
        x-data="{show: false}" x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 m-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        CICLO </div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="w-full p-5 text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        La Marcha Cicloturista es una oportunidad única de disfrutar de Badajoz en bicicleta. Con salida
                        y regreso desde la Base General Menacho, el recorrido llevará a los participantes por los
                        rincones más emblemáticos de la ciudad, como la Puerta Palma, la Plaza Alta o el Puente de
                        Palmas.
                        Esta actividad no es competitiva y estará controlada por personal de la organización, que
                        acompañará a los ciclistas a una velocidad moderada de entre 15 y 20 km/h. Habrá servicio
                        médico, vehículos de apoyo y motos de la Policía Militar para garantizar la seguridad en todo
                        momento.
                        Además, habrá un avituallamiento en la Plaza Alta para que los participantes puedan reponer
                        fuerzas. La Marcha Cicloturista es una actividad apta para toda la familia, ¡no te la pierdas!
                    </div>
                </div>
            </div>
        </div>
    </div> --> 
    
    <!-- RACE BEGINS-->
    <div class="min-h-[500px] bg-fixed " style="background-image:url(/static/img/desafio_san_fernando_race.jpg)"
        x-data="{show: false}" x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 m-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        RACE </div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="w-full p-5 text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        Vive la intensidad de nuestra prueba híbrida que combina lo mejor del running 
                        de resistencia con la exigencia de los entrenamientos militares. El recorrido comienza con 7.200 
                        metros. Durante la ruta, los corredores disfrutarán de un entorno natural espectacular, 
                        con vistas a la dehesa extremeña y al imponente campo de maniobras donde se desarrolla buena parte 
                        del recorrido. A lo largo del trayecto, los participantes deberán superar 10 workouts estratégicamente 
                        distribuidos, diseñados para combinar fuerza, agilidad y capacidad de superación inspirados en el 
                        entrenamiento de las unidades militares. Esta prueba se realiza bajo invitación y contaremos 
                        con la participación de 8 equipos de la Brigada, 21 equipos de diferentes box de Extremadura y Madrid 
                        y un equipo de la unidad de la Guardia Civil de Badajoz!
                        <!--  THERE IS NO 'RACE WIKILOC' YET
                        <br>
                        <br>
                        <div class="w-full justify-center text-center">
                            <a href="" target="_blank"
                                class="text-white font-bold justify-center">
                                Echa un vistazo al recorrido en Wikiloc
                            </a>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- OCR BEGINS-->
    <div class="min-h-[500px] bg-fixed " style="background-image:url(/static/img/desafio_san_fernando_ocr.jpg)"
        x-data="{show: false}" x-init="setTimeout(() => show = true, 1000)">
        <div class="flex flex-col justify-center h-full">
            <div class="grid lg:grid-cols-[1fr_2fr] sm:auto-rows-min items-center">
                <div class="flex items-center lg:items-start justify-center lg:justify-start md:mt-4 sm:mt-4">
                    <div class="p-5 m-5 text-4xl font-normal font-capturesmallz text-white bg-gray-900 bg-opacity-50 rounded-lg"
                        x-show="show" x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        OCR </div>
                    </div>
                </div>
                <div class="flex items-center justify-center w-full h-full p-5">
                    <div class="max-w-4xl max-h-sm ml-auto p-4 text-xl text-white bg-gray-900 bg-opacity-50 rounded-lg" x-show="show"
                        x-transition:enter="transition ease-out duration-300"
                        x-transition:enter-start="transform scale-90" x-transition:enter-end="transform scale-100">
                        Carrera de obstáculos infantil, una prueba emocionante y divertida para los más jóvenes dividida
                        en dos categorías. En la primera categoría, niños y niñas de hasta 8 años pueden participar en
                        un circuito de aproximadamente 550 metros acompañados de un adulto. En el recorrido encontrarán
                        obstáculos como zanjas, equilibrio, reptar por debajo de vehículos de combate, y muchas
                        sorpresas más. En la segunda categoría, niños y niñas de hasta 16 años pueden disfrutar de un
                        circuito de aproximadamente 2 km, incluido el circuito inicial, con una serie de obstáculos un
                        poco más técnicos, pero adaptados a su edad. ¡Una carrera de obstáculos inolvidable para toda la
                        familia y un gran desafío para los pequeños guerreros!
                        <br>
                        <br>
                        <div class="w-full justify-center text-center">
                            <a href="https://es.wikiloc.com/rutas-senderismo/carrea-obstaculos-absoluta-vi-desafio-22517766" target="_blank"
                                class="text-white font-bold justify-center">
                                Echa un vistazo al recorrido en Wikiloc
                            </a>
                        <br>
                        <br>
                        <div class="w-full justify-center text-center">
                            <a href="https://fenles.com/evento/desafio-san-fernando-21-9-2025-brigada-extremadura-xi?utm_source=newsletter&utm_medium=email&utm_campaign=dsf" target="_blank"
                                class="text-white font-bold justify-center">
                                ¡INSCRIBETE YA!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>